@media only screen and (max-width: 980px) {
  .headerContent input {
    width: 15rem;
  }
  .right-sidebar{
    display: none;
  }
  .content{
    width: 80vw;
}
}

@media only screen and (max-width: 700px) {
  .headerContent__searchbox {
    display: none;
  }
  .headerContent__writePostButton {
    display: none;
  }
  .mobile-search {
    display: block;
  }
  .dropdown-menu{
    left: 0;
    margin: 0.1rem;
    width: 99vw;
  }
  .mobile-nav-menu {
    display: block;
    margin: 0 0.5rem;
  }
  .headerContent span img {
    margin-right: 0.7rem;
  }
.content{
    width: 100vw;
}
.left-sidebar{
    display: none;
}
  .headerContent {
    padding: 0px;
  }
  .post-card{
    width: 98vw;
}
}

